@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    
    border: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    vertical-align: baseline;

}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary, h1, h2 {
    
    display: block;
    
}

audio, canvas, video {
    
    display: inline-block;
    
}

audio:not([controls]) {

    display:none;
    height:0;

}

[hidden] {

    display:none;

}

body {
    
    line-height: 1;
    
}

a {
    
    color: inherit;
    text-decoration: none;
    
}

a:focus {

    outline:thin dotted;

}

a:active,
a:hover,
button:focus,
input:focus,
textarea:focus {

    outline:0 none;

}

b, strong {
    
    font-weight: bold;
    
}

dfn {

    font-style:italic;

}

hr {

    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0;

}

mark {
    
    background:#ff0;
    color:#000;

}

code, kbd, pre, samp {

    font-family:monospace, serif;
    font-size: 1em;

}

pre {

    white-space:pre-wrap;

}

ol, ul {
    
    margin: 0;
    padding: 0;
    
}

li {
    
    margin: 0;
    padding: 0;
    
}

small {

    font-size:80%;

}

sub, sup {
    
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;

}

sup {

    top:-0.5em;

}

sub {

    bottom:-0.25em;

}

img {

    border:0;

}

blockquote, 
q {
    quotes: "“" "”" "‘" "’";
}

/* insert the quotes using pseudo-elements and the `content` property */

blockquote:before,
q:before {
    content: open-quote;
}

blockquote:after,
q:after {
    content: close-quote;
}

svg:not(:root) {

    overflow:hidden;

}

button, input, select, textarea {

	background: none;
	border: none;
    font-family:inherit;
    font-size:100%;
    margin:0;

}

button, input {

    line-height:normal;

}

button, select {

    text-transform:none;

}

button,
 html input[type="button"],
 input[type="reset"],
 input[type="submit"] {
-webkit-appearance:button;
cursor:pointer;
     margin-right: 0.5em;

}
button[disabled],
 html input[disabled] {
cursor:default;

}
input[type="checkbox"],
 input[type="radio"] {
box-sizing:border-box;
padding:0;

}
input[type="search"] {
-webkit-appearance:textfield;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box;

}
input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none;

}
button::-moz-focus-inner,
 input::-moz-focus-inner {
border:0;
padding:0;

}
textarea {
overflow:auto;
vertical-align:top;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
