@charset "UTF-8";
/* CSS Document */

/* trailing branding */
footer > div {

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

/* team name */
footer > div p:first-of-type {

    letter-spacing: 1.5px;

}

/* team name long */
footer > div p:first-of-type span {

    font-style: italic;

}

/* team label */
footer > div p:last-of-type {

    font-size: 0.9em;

}

/* project label name */
footer > div p:last-of-type span:first-of-type {

    background-color: var(--branding-color);
    color: white;
    font-weight: 700;
    margin-right: 0.3em;
    padding: 0.4em;
    text-transform: uppercase;

}

/* project label description */
footer > div p:last-of-type span:last-of-type {

    text-transform: capitalize;

}
